<%- include("header") -%>

    <div id="start" class="container-fluid">
            <!--Recently played Songs -->
            <div class="swiper mySwiper Recommended">
                <div class="col-lg-6">
                    <h3 class="mb-3">Recently played Songs</h3>
                </div>
                <div class="swiper-wrapper" id="recommend_id">
                    <div class="swiper-slide Recommended-slide">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" style="height: 12rem;" src="../img/IMG20220519111015.jpg"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <br>
            <hr><br>