<%- include("header") -%>


  <div id="start" class="container-fluid">

<!-- Top songs -->
<div class="swiper mySwiper Recommended">
    <div class="col-lg-6">
    <h3 class="mb-3">Recommended songs</h3> 
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide Recommended-slide">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height: 12rem;" src="../img/IMG20220519111015.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
      </div>
      
      <div class="swiper-slide Recommended-slide">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height: 12rem;" src="../img/IMG20220519111015.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

<br><hr><br>
  <!--  -->

<div class="swiper mySwiper Recommended">
    <div class="col-lg-6">
        <h3 class="mb-3">Recommended songs</h3>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide Recommended-slide">
        <div class="card" style="width: 18rem; height: 18rem;">
            <img class="card-img-top" src="../img/IMG20220519111015.jpg" alt="Card image cap">
            <!-- <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
          </div>
      </div>
      
      <div class="swiper-slide Recommended-slide">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <br><hr><br>


<!-- Recommended songs -->
<div class="swiper mySwiper Recommended">
    <div class="col-lg-6">
        <h3 class="mb-3">Recommended songs</h3>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide Recommended-slide">
        <div class="card" style="width: 18rem; height: 18rem;">
            <img class="card-img-top" src="../img/IMG20220519111015.jpg" alt="Card image cap">
            <!-- <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div> -->
          </div>
      </div>
      
      <div class="swiper-slide Recommended-slide">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>


  <br><hr><br>
    
<!-- Artist playlist here -->

<div id="making-slider">
  <div class="slide-container swiper">
    <div class="col-lg-6">
        <h3 class="mb-3">ARTIST PLAYLIST</h3>
    </div>
    <div class="slide-content" >
        <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>
                    <div class="card-image">
                        <img src="../img/IMG20220519111015.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <!--<img src="images/profile2.jpg" alt="" class="card-img">-->
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <!--<img src="images/profile3.jpg" alt="" class="card-img">-->
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <!--<img src="images/profile4.jpg" alt="" class="card-img">-->
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <!--<img src="images/profile5.jpg" alt="" class="card-img">-->
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <!--<img src="images/profile6.jpg" alt="" class="card-img">-->
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <!--<img src="images/profile7.jpg" alt="" class="card-img">-->
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <!--<img src="images/profile8.jpg" alt="" class="card-img">-->
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <!--<img src="images/profile9.jpg" alt="" class="card-img">-->
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div> -->
    <!-- <div class="swiper-paginationnn"></div> -->
</div>
</div>


  <br>
  <hr>
  <br>
  <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" style="text-align: center;">
    <h2 ><strong>Developed By</strong></h2>
    <p class="credits-text">Ms. Himanshi Sharma</p>
    <p class="credits-text">Mr. Shashank Singh</p>
    <p class="credits-text">Mr. Ankit Gupta</p>
  </div>


</div>


<!-- Start of Script Tags -->

   <!-- Swiper JS --> 
    <script src="../js/swiper-bundle.min.js"></script>

    <!-- JavaScript -->
<script src="../js/home/artist.js"></script>

<!-- home -->
<!-- <script src="../js/home.js"></script> -->

<!-- End of Script Tags -->

<%- include("footer") -%>

</body>

</html>
