<%- include("header") -%>
<!-- <ul class="list-group list-group-flush" id="seeall_id">
    <li class="list-group-item">
        <div>
            <span style="padding-right: 30px;">1.</span>
            <img src="/img/login-1.jpeg" width="50" height="50" alt="">
            <span style="padding-left: 50px;">Cras justo odio</span>
            <span style="padding-left: 200px;">artist name</span>
            <span style="padding-left: 300px;">artist name</span>
            <span style="float: right; padding-right: 12px; padding-top: 14px;">4:05</span>
       </div>
    </li>
</ul> -->
    
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">img</th>
        <th scope="col">Song Name</th>
        <th scope="col">Artist Name</th>
        <th>playlist</th>
        <th>like</th>
        <th scope="col">time</th>
      </tr>
    </thead>
    <tbody id = "seeall_id">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>add to playlist</td>
        <td><i class="bi bi-heart">like</i></td>
        <td>@mdo</td>
        
      </tr>
    </tbody>
  </table>
  <!-- <script>console.log(console.log('<%=id%>'))</script> -->

  <script src="../js/seeall.js"></script>
  <script>seeall('<%=id%>')</script>

<%- include("footer") -%>