<%- include("header") -%>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div>
            <span style="padding-right: 30px;">1.</span>
            <img src="/img/login-1.jpeg" width="50" height="50" alt="">
            <span style="padding-left: 50px;">Cras justo odio</span>
            <span style="padding-left: 200px;">artist name</span>
            <span style="padding-left: 300px;">artist name</span>
            <span style="float: right; padding-right: 12px; padding-top: 14px;">4:05</span>
       </div>
    </li>
    
    <li class="list-group-item">
        <div>
            <span style="padding-right: 30px;">2.</span>
            <img src="/img/login-1.jpeg" width="50" height="50" alt="">
            <span style="padding-left: 50px;">Cras justo odio</span>
            <span style="padding-left: 200px;">artist name</span>
            <span style="padding-left: 300px;">artist name</span>
            <span style="float: right; padding-right: 12px; padding-top: 14px;">4:05</span>

       </div>
    </li> 

    <li class="list-group-item">
        <div>
            <span style="padding-right: 30px;">3.</span>
            <img src="/img/login-1.jpeg" width="50" height="50" alt="">
            <span style="padding-left: 50px;">Cras justo odio</span>
            <span style="padding-left: 200px;">artist name</span>
            <span style="padding-left: 300px;">artist name</span>
            <span style="float: right; padding-right: 12px; padding-top: 14px;">4:05</span>

       </div>
    </li> 

    <li class="list-group-item">
        <div>
            <span style="padding-right: 30px;">4.</span>
            <img src="/img/login-1.jpeg" width="50" height="50" alt="">
            <span style="padding-left: 50px;">Cras justo odio</span>
            <span style="padding-left: 200px;">artist name</span>
            <span style="padding-left: 300px;">artist name</span>
            <span style="float: right; padding-right: 12px; padding-top: 14px;">4:05</span>
            

       </div>
    </li> 

    <li class="list-group-item">
        <div>
            <span style="padding-right: 30px;">5.</span>
            <img src="/img/login-1.jpeg" width="50" height="50" alt="">
            <span style="padding-left: 50px;">Cras justo odio</span>
            <span style="padding-left: 200px;">artist name</span>
            <span style="padding-left: 300px;">artist name</span>
       </div>
    </li> 
  </ul>

<%- include("footer") -%>